
    .navUl {
    display: flex;
    width: 80%;
    gap: 5%;
    text-decoration: none;
    list-style-type: none;

}
@media screen and (max-width:768px) {
        .navUl.active {
        position: absolute;
       width: 100%;
       background-color: white;
       justify-content: flex-start;
        gap: 15px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        top: 120px;
    }
    .navUl{
        display: none;
    }
}
